name: Build APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: recursive  # 同时检出子模块

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '17'  # 使用 Java 17，因为 Android Gradle 插件需要该版本

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 30
          build-tools: 30.0.3

      - name: Build APK
        run: ./gradlew dist  # 使用 `./gradlew dist` 命令编译 APK

      - name: Upload APK artifact
        uses: actions/upload-artifact@v2
        with:
          name: BiliRoamingX-APK
          path: app/build/outputs/apk/release/*.apk
